page-identity-check {
  .imgCard {
    width: 100%;
    margin: 0;
    box-shadow: none;
    padding-left: 16px;
    position: relative;
  }

  .imgCard img {
    width: 160px;
    height: 110px;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  .imgCard .title {
    color: #888;
    font-size: 16px;
    text-align: center !important;
    padding-left: 20px;
  }

  .imgCard button {
    width: 140px;
    height: 30px;
    margin: 15px auto 0 auto;
    font-size: 14px;
  }

  .imgCard .card-content {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
  }

  .imgCard .img-title {
    margin-top: 46px;
    padding-right: 14px;
    text-align: center;
    width: 30%;
    //color: #999999;
  }

  .list-ios .item-block .item-inner{
    border-bottom: none !important;
  }

  .list-md .item-block .item-inner{
    border-bottom: none !important;
  }

  .item-border{
    border-bottom: 0.55px solid #eeeeee;
  }

  .person-data-name{
    padding-left: 24px;
    background: url("../assets/imgs/myData/personData/name_inputIcon_normal.png") no-repeat center center;
    height: 24px;
    width: 24px;
    background-size: contain;
  }

  .person-data-id{
    padding-left: 24px;
    background: url("../assets/imgs/myData/personData/ID_inputIcon_normal.png") no-repeat center center;
    height: 24px;
    width: 24px;
    background-size: contain;
  }
}
