page-oto {
  .cre-data-title {
    color: color($colors, primary);
    margin: 10px;
    font-size: 13px;
  }

  .item-ios ion-thumbnail img {
    width: 30px;
    height: 30px;
  }

  .add-item {
    height: 60px;
    border-radius: 5px;
    border: 0.55px solid color($colors, primary) !important;
  }
}
