<ion-header>
  <ion-navbar>
    <ion-title>
      外卖团购账户
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!!data.length && !isOtoList">
    <ion-label class="cre-data-title">已绑外卖团购账户</ion-label>
    <ion-item-sliding style="margin: 10px;border-radius: 5px;width: auto;">
      <ion-item *ngFor="let item of data" style="border: none;">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/{{item.category}}.png">
        </ion-avatar>
        <h3>{{item.category | otoType}}</h3>
        <p>{{item.acct}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="!isOtoList" tappable (click)="addOto()">
    <ion-item-sliding style="margin: 10px;width: auto;">
      <ion-item class="add-item">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/addicon.png">
        </ion-avatar>
        <h3>添加外卖团购账户</h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="!!isOtoList">
    <ion-item-sliding tappable (click)="openUrl('dzdp')">
      <ion-item class="right-arrow">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/dzdp.png">
        </ion-avatar>
        <h3>大众点评</h3>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding tappable (click)="openUrl('mtsj')">
      <ion-item class="right-arrow">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/mtsj.png">
        </ion-avatar>
        <h3>美团商家</h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
