<ion-card class="imgCard" style="background-color: #fff;">
  <ion-card-header class="imgCard-header" [hidden]="headerHide">
    <ion-item class="right-arrow img-title-header">
      <ion-avatar item-start style="margin: 0;">
        <img class="item-img" src="{{img}}">
      </ion-avatar>
      <div class="img-header-title">{{title}}</div>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <div class="img-title"><span *ngIf="isRequire" class="star" ion-text style="color: red;">*</span>{{description}}
    </div>
    <div class="img-upload">
      <img src="{{src}}" class="cardImg" imageViewer="{{bigSrc}}">
      <div class="more-img-box">
        <button ion-button block (click)="openUploader()" [disabled]="uploadDisabled">上传照片</button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
