<ion-list style="margin-top: 10px;">
  <!--输入框的模版-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input
      placeholder="请输入姓名"></ion-input>
  </ion-item>

  <!--图片模版-->
  <!--<img-view [headerHide]="false"></img-view>-->

  <!--选择框模版-->
  <ion-item>
    <ion-label item-left hidden>
      请选择贷款用途
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="person-data-repay"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="请选择贷款用途">
    </ion-select>
  </ion-item>


  <!--请选择贷款用途-->
  <ion-item>
    <ion-label item-left hidden>
      请选择贷款用途(todo)
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="person-data-repay"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="请选择贷款用途（todo）">
    </ion-select>
  </ion-item>


  <!--qq邮箱-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input type="email"
               placeholder="请输入电子邮箱"></ion-input>
  </ion-item>

  <!--qq账号-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-qq"></div>
    </ion-label>
    <ion-input type="email"
               placeholder="请输入qq账号"></ion-input>
  </ion-item>

  <!--todo city-picker-->

  <!--家庭联系人姓名-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-family"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="家庭联系人姓名"></ion-input>
  </ion-item>

  <!--家庭联系人电话-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-family-tel"></div>
    </ion-label>
    <ion-input type="tel"
               placeholder="家庭联系人电话"></ion-input>
  </ion-item>

  <!--家庭联系人与我的关系-->
  <ion-item>
    <ion-label item-left hidden>
      家庭联系人与我的关系
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-connect"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="家庭联系人与我的关系">
    </ion-select>
  </ion-item>

  <!--第二联系人姓名-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-family"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="第二联系人姓名"></ion-input>
  </ion-item>

  <!--第二联系人电话-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-family-tel"></div>
    </ion-label>
    <ion-input type="tel"
               placeholder="第二联系人电话"></ion-input>
  </ion-item>

  <!--第二联系人与我的关系-->
  <ion-item>
    <ion-label item-left hidden>
      第二联系人与我的关系
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-connect"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="第二联系人与我的关系">
    </ion-select>
  </ion-item>

  <!--常用银行卡开户行-->
  <ion-item>
    <ion-label item-left hidden>
      常用银行卡开户行
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-bank"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="常用银行卡开户行">
    </ion-select>
  </ion-item>

  <!--常用银行卡卡号-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-bank-number"></div>
    </ion-label>
    <ion-input type="number"
               placeholder="常用银行卡卡号"></ion-input>
  </ion-item>

  <!--todo city-picker-->
  <!--请输入住宅详细地址-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="请输入住宅详细地址"></ion-input>
  </ion-item>

  <!--请输入住宅地址邮编  todo 少图标-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input
      placeholder="请输入住宅地址邮编"></ion-input>
  </ion-item>

  <!--住宅情况-->
  <ion-item>
    <ion-label item-left hidden>
      住宅情况
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-address-situation"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="住宅情况">
    </ion-select>
  </ion-item>

  <!--房产证照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--住宅性质-->
  <ion-item>
    <ion-label item-left hidden>
      住宅性质
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-nature"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="住宅性质">
    </ion-select>
  </ion-item>

  <!--请输入电费用户名 todo 少图标-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input
      placeholder="请输入电费用户名"></ion-input>
  </ion-item>

  <!--居住证明照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--户口本照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--金融资产证明照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>


  <!--婚姻状况-->
  <ion-item>
    <ion-label item-left hidden>
      婚姻状况
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-marriage"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="婚姻状况">
    </ion-select>
  </ion-item>


  <!--结婚证照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--配偶姓名-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-marriage-name"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="配偶姓名"></ion-input>
  </ion-item>

  <!--配偶身份证号-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-id"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="配偶身份证号"></ion-input>
  </ion-item>

  <!--配偶文化程度-->
  <ion-item>
    <ion-label item-left hidden>
      配偶文化程度
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-marriage-degree"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="配偶文化程度">
    </ion-select>
  </ion-item>

  <!--配偶电话-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-family-tel"></div>
    </ion-label>
    <ion-input type="tel"
               placeholder="配偶电话"></ion-input>
  </ion-item>

  <!--配偶单位名称-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-marriage-danwei"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="配偶单位名称"></ion-input>
  </ion-item>

  <!--配偶单位性质-->
  <ion-item>
    <ion-label item-left hidden>
      配偶单位性质
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-nature"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="配偶单位性质">
    </ion-select>
  </ion-item>

  <!--配偶身份证-->
  <div>
    <ion-item>
      <ion-label class="label-margin">
        <span class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="配偶身份证" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true"></img-view>
    <img-view [headerHide]="true"></img-view>
  </div>

  <!--母亲姓氏-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-other"></div>
    </ion-label>
    <ion-input type="text"
      placeholder="母亲姓氏"></ion-input>
  </ion-item>

  <!--有无子女-->
  <ion-item>
    <ion-label item-left hidden>
      有无子女
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-kids"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="有无子女">
    </ion-select>
  </ion-item>

  <!--是否购车-->
  <ion-item>
    <ion-label item-left hidden>
      是否购车
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-cars"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="是否购车">
    </ion-select>
  </ion-item>

  <!--行驶证照片 todo-->
  <img-view [headerHide]="true"></img-view>

  <!--最高学历-->
  <ion-item>
    <ion-label item-left hidden>
      最高学历
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-education"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="最高学历">
    </ion-select>
  </ion-item>

  <!--学历学位证 todo-->
  <img-view></img-view>

  <!--单位名称-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-unit"></div>
    </ion-label>
    <ion-input type="text"
      placeholder="单位名称"></ion-input>
  </ion-item>

  <!--单位电话-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-company-tel"></div>
    </ion-label>
    <ion-input type="tel"
               placeholder="单位电话"></ion-input>
  </ion-item>

  <!--单位性质-->
  <ion-item>
    <ion-label item-left hidden>
      单位性质
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-nature"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="单位性质">
    </ion-select>
  </ion-item>

  <!--单位地址-->  <!--todo city-picker-->


  <!--单位详细地址-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="单位详细地址"></ion-input>
  </ion-item>

  <!--单位地址邮编-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-post"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="单位地址邮编"></ion-input>
  </ion-item>


  <!--在职单位工龄-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-seniority"></div>
    </ion-label>
    <ion-input type="number"
               placeholder="在职单位工龄（年）"></ion-input>
    <span item-right>年</span>
  </ion-item>

  <!--在职单位职位或岗位-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-post-two"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="在职单位职位或岗位"></ion-input>
  </ion-item>

  <!--年收入-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-annualIncome"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="年收入（万元）"></ion-input>
    <span item-right>万元</span>
  </ion-item>

  <!--现月收入-->
  <ion-item>
    <ion-label item-left hidden>
      现月收入
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-monthlyIncome"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="现月收入">
    </ion-select>
  </ion-item>

  <!--请选择行业-->
  <ion-item>
    <ion-label item-left hidden>
      请选择行业
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-industry"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="请选择行业">
    </ion-select>
  </ion-item>

  <!--营业执照名称-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-businessLicense"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="营业执照名称"></ion-input>
  </ion-item>

  <!--经营地址-->  <!--todo city-picker-->

  <!--经营详细地址-->
  <ion-item>
    <ion-label class="label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input type="text"
               placeholder="营业执照名称"></ion-input>
  </ion-item>

  <!--请选择经营背景类型-->
  <ion-item>
    <ion-label item-left hidden>
      请选择经营背景类型
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span class="require-star">*</span>
      <div class="basics-data-business-type"></div>
    </ion-label>
    <ion-select class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="请选择经营背景类型">
    </ion-select>
  </ion-item>


  <!--营业执照照片 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--淘宝/天猫贷款截图 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--店铺注册截图 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>


  <!--股东身份证 todo-->
  <div>
    <ion-item>
      <ion-label class="label-margin">
        <span class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="股东身份证" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true"></img-view>
    <img-view [headerHide]="true"></img-view>
  </div>

  <!--股权证明 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--授权代理合同 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--税务登记证 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--机构代码证 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--验资报告 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--加盟合同 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--租赁合同 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--企业征信 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--法人身份证正反面 todo-->
  <div>
    <ion-item>
      <ion-label class="label-margin">
        <span class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="法人身份证正反面" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true"></img-view>
    <img-view [headerHide]="true"></img-view>
  </div>

  <!--三方回款任务合同 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--个人征信 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--法人征信 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>

  <!--法人征信 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>


  <!--法人配偶身份证正反面 todo-->
  <div>
    <ion-item>
      <ion-label class="label-margin">
        <span class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="法人配偶身份证正反面" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true"></img-view>
    <img-view [headerHide]="true"></img-view>
  </div>

  <!--连续三年回款合同 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>


  <!--其他证明 todo-->
  <div class="img-box">
    <img-view></img-view>
  </div>








</ion-list>
