page-basics-data {
  .item-block {
    background-color: #fff;
    min-height: auto;
  }

  .info-select {
    max-width: 100%;
    padding-left: 1.3rem;
  }

  .require-star {
    position: absolute;
    top: 15px;
    left: 5px;
    color: red;
  }

  ion-select {
    max-width: 100%;
    padding-left: 0 !important;
  }

  ion-select .select-icon {
    display: none;
  }

  .text-input-ios {
    margin-left: 0 !important;
  }

  .text-input-md {
    margin-left: 0 !important;
  }

  .img-box {
    position: relative;
  }
  .text-input[disabled] {
    opacity: 1;
  }

  .basics-add {
    position: absolute;
    left: 30%;
    margin-left: 166px;
    width: 60px;
    bottom: 20px;
    color: color($colors, primary);
  }

  .picker-opt{
    font-size: 12px !important;
  }

  .basics-data-email {
    background: url("../assets/imgs/myData/basicsData/email_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //居住证明照片 todo

  //户口本照片 todo

  //金融资产证明照片 todo

  .basics-data-qq {
    background: url("../assets/imgs/myData/basicsData/qq.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //todo city-picker

  .basics-data-family {
    background: url("../assets/imgs/myData/basicsData/family_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-family-tel {
    background: url("../assets/imgs/myData/basicsData/familyTel_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-connect {
    background: url("../assets/imgs/myData/basicsData/conection_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-bank {
    background: url("../assets/imgs/myData/basicsData/bank_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-bank-number {
    background: url("../assets/imgs/myData/basicsData/bank_inputIcon_select.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //todo city-picker

  .basics-data-detail-address {
    background: url("../assets/imgs/myData/basicsData/detaiedlBusinessAddress_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //请输入住宅地址邮编  todo 少图标

  .basics-data-address-situation {
    background: url("../assets/imgs/myData/basicsData/addressSituation_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //房产证照片 todo

  .basics-data-nature {
    background: url("../assets/imgs/myData/basicsData/nature_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //请输入电费用户名
  .basics-data-electricity{
    background: url("../assets/imgs/myData/basicsData/electricity.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-marriage {
    background: url("../assets/imgs/myData/basicsData/marriage_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //结婚证照片 todo

  .basics-data-marriage-name {
    background: url("../assets/imgs/myData/personData/name_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-id {
    background: url("../assets/imgs/myData/personData/ID_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-marriage-degree {
    background: url("../assets/imgs/myData/basicsData/degree_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-marriage-danwei {
    background: url("../assets/imgs/myData/basicsData/industry_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-other {
    background: url("../assets/imgs/myData/basicsData/mother_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-kids {
    background: url("../assets/imgs/myData/basicsData/kids_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-cars {
    background: url("../assets/imgs/myData/basicsData/car_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //行驶证照片 todo

  .basics-data-education {
    background: url("../assets/imgs/myData/basicsData/degree_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //学历学位证 todo

  .basics-data-unit {
    background: url("../assets/imgs/myData/basicsData/unit_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-company-tel {
    background: url("../assets/imgs/myData/basicsData/company-tel.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  //todo city-picker

  .basics-data-post {
    background: url("../assets/imgs/myData/basicsData/post.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-seniority {
    background: url("../assets/imgs/myData/basicsData/seniority_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-post-two {
    background: url("../assets/imgs/myData/basicsData/post_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-annualIncome {
    background: url("../assets/imgs/myData/basicsData/annualIncome_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-monthlyIncome {
    background: url("../assets/imgs/myData/basicsData/monthlyIncome_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-industry {
    background: url("../assets/imgs/myData/basicsData/industry_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-businessLicense {
    background: url("../assets/imgs/myData/basicsData/businessLicense_inputIcon_normal.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

  .basics-data-business-type {
    background: url("../assets/imgs/myData/basicsData/business-type.png") no-repeat center center;
    height: 26px;
    width: 26px;
    background-size: contain;
  }

}


