<ion-list *ngIf="!!personData" style="margin-top: 10px;">

  <!--受托支付 merchant-->
  <ion-item [hidden]="!step3Set.merchant.isShow">
    <ion-label item-left hidden>
      {{product.merchantAlias}}
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.merchant.isRequire" class="require-star">*</span>
      <div class="basics-data-bank"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.merchantUuid" (ionChange)="merChantChange($event)" class="right-arrow" name="merchant" okText="确定" cancelText="取消"
                placeholder="{{product.merchantAlias}}">
      <ion-option *ngFor="let type of product.merchantList" [value]="type.value"
                  [selected]="type.value === personData.merchantUuid">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>


  <!--qq邮箱-->
  <ion-item [hidden]="!step3Set.email.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.email.isRequire" class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.email" type="email"
               placeholder="请输入电子邮箱"></ion-input>
  </ion-item>

  <!--qq账号-->
  <ion-item [hidden]="!step3Set.qqNum.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.qqNum.isRequire" class="require-star">*</span>
      <div class="basics-data-qq"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.qqNum" type="email"
               placeholder="请输入qq账号"></ion-input>
  </ion-item>

  <!--户籍地址 household-->
  <ion-item [hidden]="!step3Set.household.isShow">
    <ion-label class="label-margin" style="flex: none;">
      <span [hidden]="!step3Set.household.isRequire" class="require-star">*</span>
      <div class="basics-data-household"></div>
    </ion-label>
    <city-picker item-content
                 [cancelText]="'取消'"
                 [doneText]="'确定'"
                 [separator]="' - '"
                 [citiesData]="cityData"
                 [(ngModel)]="household"
                 (ionChange)="householdChange($event)" class="info-select right-arrow" style="color: #555555;">
    </city-picker>
  </ion-item>

  <!--家庭联系人姓名 primaryContact-->
  <ion-item [hidden]="!step3Set.primaryContact.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.primaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-family"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.primaryContact.name" type="text"
               placeholder="家庭联系人姓名"></ion-input>
  </ion-item>

  <!--家庭联系人电话 primaryContact-->
  <ion-item [hidden]="!step3Set.primaryContact.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.primaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-family-tel"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.primaryContact.mobile" type="tel"
               placeholder="家庭联系人电话"></ion-input>
  </ion-item>

  <!--家庭联系人与我的关系 primaryContact-->
  <ion-item [hidden]="!step3Set.primaryContact.isShow">
    <ion-label item-left hidden>
      家庭联系人与我的关系
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.primaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-connect"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.primaryContact.relType" class="right-arrow" name="purpose" okText="确定"
                cancelText="取消"
                placeholder="家庭联系人与我的关系">
      <ion-option *ngFor="let type of contactData" [value]="type.value"
                  [selected]="type.value === personData.primaryContact.relType">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--第二联系人姓名 secondaryContact-->
  <ion-item [hidden]="!step3Set.secondaryContact.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.secondaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-family"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.secondaryContact.name" type="text"
               placeholder="第二联系人姓名"></ion-input>
  </ion-item>

  <!--第二联系人电话-->
  <ion-item [hidden]="!step3Set.secondaryContact.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.secondaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-family-tel"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.secondaryContact.mobile" type="tel"
               placeholder="第二联系人电话"></ion-input>
  </ion-item>

  <!--第二联系人与我的关系-->
  <ion-item [hidden]="!step3Set.secondaryContact.isShow">
    <ion-label item-left hidden>
      第二联系人与我的关系
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.secondaryContact.isRequire" class="require-star">*</span>
      <div class="basics-data-connect"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.secondaryContact.relType" class="right-arrow" name="purpose" okText="确定"
                cancelText="取消"
                placeholder="第二联系人与我的关系">
      <ion-option *ngFor="let type of secondContactData" [value]="type.value"
                  [selected]="type.value === personData.secondaryContact.relType">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--常用银行卡开户行 bankCode-->
  <ion-item [hidden]="!step3Set.bankCode.isShow">
    <ion-label item-left hidden>
      常用银行卡开户行
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.bankCode.isRequire" class="require-star">*</span>
      <div class="basics-data-bank"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.bankCode" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="常用银行卡开户行">
      <ion-option *ngFor="let type of commonBank" [value]="type.value" [selected]="type.value === personData.bankCode">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--常用银行卡卡号 cardNumber-->
  <ion-item [hidden]="!step3Set.cardNumber.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.cardNumber.isRequire" class="require-star">*</span>
      <div class="basics-data-bank-number"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.cardNumber" type="number"
               placeholder="常用银行卡卡号"></ion-input>
  </ion-item>

  <!--住宅详细地址 liveAddress-->
  <ion-item [hidden]="!step3Set.liveAddress.isShow">
    <ion-label class="label-margin" style="flex: none;">
      <span [hidden]="!step3Set.liveAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-liveAdress"></div>
    </ion-label>
    <city-picker item-content
                 [cancelText]="'取消'"
                 [doneText]="'确定'"
                 [separator]="' - '"
                 [citiesData]="cityData"
                 [(ngModel)]="liveAddress"
                 (ionChange)="liveAddressChange($event)" class="info-select right-arrow" style="color: #555555;">
    </city-picker>
  </ion-item>

  <!--请输入住宅详细地址 liveAddress-->
  <ion-item [hidden]="!step3Set.liveAddress.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.liveAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.liveLoc" type="text"
               placeholder="请输入住宅详细地址"></ion-input>
  </ion-item>

  <!--请输入住宅地址邮编-->
  <ion-item [hidden]="!step3Set.houseAddressZipCode.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.houseAddressZipCode.isRequire" class="require-star">*</span>
      <div class="basics-data-email"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.houseAddressZipCode" type="tel"
               placeholder="请输入住宅地址邮编"></ion-input>
  </ion-item>

  <!--住宅情况 houseProperty-->
  <ion-item [hidden]="!step3Set.houseProperty.isShow">
    <ion-label item-left hidden>
      住宅情况
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.houseProperty.isRequire" class="require-star">*</span>
      <div class="basics-data-address-situation"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.houseProperty" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="住宅情况">
      <ion-option *ngFor="let type of houseProperty" [value]="type.value"
                  [selected]="type.value === personData.houseProperty">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--房产证照片 todo-->
  <div class="img-box" [hidden]="!houseShow|| !step3Set.houseProprietaryCertificate.isShow">
    <img-view *ngFor="let type of personData.houseProprietaryCertificate;" [imgData]="type"
              [isRequire]="step3Set.houseProprietaryCertificate.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('houseProprietaryCertificate','房产证')">再加一张</span>
  </div>

  <!--住宅性质-->
  <ion-item [hidden]="!step3Set.houseType.isShow">
    <ion-label item-left hidden>
      住宅性质
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.houseType.isRequire" class="require-star">*</span>
      <div class="basics-data-nature"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.houseType" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="住宅性质">
      <ion-option *ngFor="let type of houseType" [value]="type.value"
                  [selected]="type.value === personData.houseType">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--请输入电费用户名 electricityAccountName-->
  <ion-item [hidden]="!step3Set.electricityAccountName.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.electricityAccountName.isRequire" class="require-star">*</span>
      <div class="basics-data-electricity"></div>
    </ion-label>
    <ion-input
      placeholder="请输入电费用户名"></ion-input>
  </ion-item>

  <!--居住证明照片 liveProof-->
  <div class="img-box" [hidden]="!step3Set.liveProof.isShow">
    <img-view *ngFor="let type of personData.liveProof;" [imgData]="type"
              [isRequire]="step3Set.liveProof.isRequire"></img-view>
    <span tappable ion-text class="basics-add" (click)="openUploaderAgain('liveProof','居住证明照片')">再加一张</span>
  </div>

  <!--户口本照片 residenceBook-->
  <div class="img-box" [hidden]="!step3Set.residenceBook.isShow">
    <img-view *ngFor="let type of personData.residenceBook;" [imgData]="type"
              [isRequire]="step3Set.residenceBook.isRequire"></img-view>
    <span tappable ion-text class="basics-add" (click)="openUploaderAgain('residenceBook','户口本照片')">再加一张</span>
  </div>

  <!--金融资产证明照片 financialAssetsProof-->
  <div class="img-box" [hidden]="!step3Set.financialAssetsProof.isShow">
    <img-view *ngFor="let type of personData.financialAssetsProof;" [imgData]="type"
              [isRequire]="step3Set.financialAssetsProof.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('financialAssetsProof','金融资产证明照片')">再加一张</span>
  </div>


  <!--婚姻状况 todo marriage-->
  <ion-item [hidden]="!step3Set.marriage.isShow">
    <ion-label item-left hidden>
      婚姻状况
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.marriage.isRequire" class="require-star">*</span>
      <div class="basics-data-marriage"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.marriage" (ngModelChange)="updateSelect()" class="right-arrow" name="purpose"
                okText="确定" cancelText="取消"
                placeholder="婚姻状况">
      <ion-option *ngFor="let type of marriage" [value]="type.value"
                  [selected]="type.value === personData.marriage">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <div [hidden]="!marriageShow" style="border: 8px solid #eee;">
    <!--结婚证照片 marriageLicense todo-->
    <div class="img-box" [hidden]="!step3Set.marriageLicense.isShow">
      <img-view [headerHide]="true" [imgData]="personData.marriageLicense"
                [isRequire]="step3Set.marriageLicense.isRequire"></img-view>
    </div>

    <!--配偶姓名 spouse-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-name"></div>
      </ion-label>
      <ion-input [(ngModel)]="personData.spouse.name" type="text"
                 placeholder="配偶姓名"></ion-input>
    </ion-item>

    <!--配偶身份证号 spouse-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-id"></div>
      </ion-label>
      <ion-input [(ngModel)]="personData.spouse.idNumber" type="text"
                 placeholder="配偶身份证号"></ion-input>
    </ion-item>

    <!--配偶文化程度 spouse-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label item-left hidden>
        配偶文化程度
      </ion-label>
      <ion-label class="personPer-payWay label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-degree"></div>
      </ion-label>
      <ion-select [(ngModel)]="personData.spouse.education" [selectOptions]="educationOptions" class="right-arrow"
                  name="purpose" okText="确定" cancelText="取消"
                  placeholder="配偶文化程度">
        <ion-option *ngFor="let type of education" [value]="type.value"
                    [selected]="type.value === personData.spouse.education">{{type.text}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!--配偶电话-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-family-tel"></div>
      </ion-label>
      <ion-input [(ngModel)]="personData.spouse.mobile" type="tel"
                 placeholder="配偶电话"></ion-input>
    </ion-item>

    <!--配偶单位名称-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input [(ngModel)]="personData.spouse.orgName" type="text"
                 placeholder="配偶单位名称"></ion-input>
    </ion-item>

    <!--配偶单位性质 spouse-->
    <ion-item [hidden]="!step3Set.spouse.isShow">
      <ion-label item-left hidden>
        配偶单位性质
      </ion-label>
      <ion-label class="personPer-payWay label-margin">
        <span [hidden]="!step3Set.spouse.isRequire" class="require-star">*</span>
        <div class="basics-data-nature"></div>
      </ion-label>
      <ion-select [(ngModel)]="personData.spouse.orgType" [selectOptions]="orgTypeOptions" class="right-arrow"
                  name="purpose" okText="确定" cancelText="取消"
                  placeholder="配偶单位性质">
        <ion-option *ngFor="let type of orgType" [value]="type.value"
                    [selected]="type.value === personData.spouse.orgType">{{type.text}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!--配偶身份证 spouseIdentityPic-->
    <div [hidden]="!step3Set.spouseIdentityPic.isShow">
      <ion-item>
        <ion-label class="label-margin">
          <span [hidden]="!step3Set.spouseIdentityPic.isRequire" class="require-star">*</span>
          <div class="basics-data-marriage-danwei"></div>
        </ion-label>
        <ion-input type="text"
                   placeholder="配偶身份证" disabled></ion-input>
      </ion-item>
      <img-view [headerHide]="true" [hidden]="!step3Set.spouseIdentityPic.isShow" [imgData]="personData.spouseIdentity"
                [isRequire]="step3Set.spouseIdentityPic.isRequire"></img-view>
      <img-view [headerHide]="true" [hidden]="!step3Set.spouseIdentityPic.isShow"
                [imgData]="personData.spouseIdentityBack"
                [isRequire]="step3Set.spouseIdentityPic.isRequire"></img-view>
    </div>
  </div>

  <!--母亲姓氏 other-->
  <ion-item [hidden]="!step3Set.other.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.other.isRequire" class="require-star">*</span>
      <div class="basics-data-other"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.other" type="text"
               placeholder="母亲姓氏"></ion-input>
  </ion-item>

  <!--有无子女 children-->
  <ion-item [hidden]="!step3Set.children.isShow">
    <ion-label item-left hidden>
      有无子女
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.children.isRequire" class="require-star">*</span>
      <div class="basics-data-kids"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.children" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="有无子女">
      <ion-option *ngFor="let type of children" [value]="type.value" [selected]="type.value === personData.children">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--是否购车 carProperty-->
  <ion-item [hidden]="!step3Set.carProperty.isShow">
    <ion-label item-left hidden>
      是否购车
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.carProperty.isRequire" class="require-star">*</span>
      <div class="basics-data-cars"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.carProperty" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="是否购车">
      <ion-option *ngFor="let type of carProperty" [value]="type.value"
                  [selected]="type.value === personData.carProperty">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--行驶证照片 driverLicense todo-->
  <img-view [headerHide]="true" [hidden]="!carShow || !step3Set.driverLicense.isShow"
            [imgData]="personData.driverLicense"
            [isRequire]="step3Set.driverLicense.isRequire"></img-view>

  <!--最高学历 education-->
  <ion-item [hidden]="!step3Set.education.isShow">
    <ion-label item-left hidden>
      最高学历
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.education.isRequire" class="require-star">*</span>
      <div class="basics-data-education"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.education" [selectOptions]="heightEducationOptions" class="right-arrow"
                name="purpose" okText="确定" cancelText="取消"
                placeholder="最高学历">
      <ion-option *ngFor="let type of education" [value]="type.value"
                  [selected]="type.value === personData.education">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--学历学位证 diploma todo-->
  <img-view [hidden]="!step3Set.diploma.isShow" [imgData]="personData.diploma"
            [isRequire]="step3Set.diploma.isRequire"></img-view>

  <!--单位名称-->
  <ion-item [hidden]="!step3Set.orgName.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.orgName.isRequire" class="require-star">*</span>
      <div class="basics-data-unit"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.orgName" type="text"
               placeholder="单位名称"></ion-input>
  </ion-item>

  <!--单位电话-->
  <ion-item [hidden]="!step3Set.workTelephone.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.workTelephone.isRequire" class="require-star">*</span>
      <div class="basics-data-company-tel"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.workTelephone" type="tel"
               placeholder="单位电话"></ion-input>
  </ion-item>

  <!--单位性质-->
  <ion-item [hidden]="!step3Set.orgType.isShow">
    <ion-label item-left hidden>
      单位性质
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.orgType.isRequire" class="require-star">*</span>
      <div class="basics-data-nature"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.orgType" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="单位性质">
      <ion-option *ngFor="let type of orgType" [value]="type.value" [selected]="type.value === personData.orgType">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>


  <!--单位地址 companyAddress-->
  <ion-item [hidden]="!step3Set.companyAddress.isShow">
    <ion-label class="label-margin" style="flex: none;">
      <span [hidden]="!step3Set.companyAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-companyAddress"></div>
    </ion-label>
    <city-picker item-content
                 [cancelText]="'取消'"
                 [doneText]="'确定'"
                 [separator]="' - '"
                 [citiesData]="cityData"
                 [(ngModel)]="companyAddress"
                 (ionChange)="companyAddressChange($event)" class="info-select right-arrow" style="color: #555555;">
    </city-picker>
  </ion-item>

  <!--单位详细地址 companyAddressZipCode-->
  <ion-item [hidden]="!step3Set.companyAddress.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.companyAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.companyAddress" type="text"
               placeholder="单位详细地址"></ion-input>
  </ion-item>

  <!--单位地址邮编 companyAddressZipCode-->
  <ion-item [hidden]="!step3Set.companyAddressZipCode.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.companyAddressZipCode.isRequire" class="require-star">*</span>
      <div class="basics-data-post"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.companyAddressZipCode" type="tel"
               placeholder="单位地址邮编"></ion-input>
  </ion-item>

  <!--在职单位工龄 occAge-->
  <ion-item [hidden]="!step3Set.occAge.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.occAge.isRequire" class="require-star">*</span>
      <div class="basics-data-seniority"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.occAge" type="number"
               placeholder="在职单位工龄（年）"></ion-input>
    <span item-right>年</span>
  </ion-item>

  <!--在职单位职位或岗位 occupation-->
  <ion-item [hidden]="!step3Set.occupation.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.occupation.isRequire" class="require-star">*</span>
      <div class="basics-data-post-two"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.occupation" type="text"
               placeholder="在职单位职位或岗位"></ion-input>
  </ion-item>

  <!--年收入 annualIncome-->
  <ion-item [hidden]="!step3Set.annualIncome.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.annualIncome.isRequire" class="require-star">*</span>
      <div class="basics-data-annualIncome"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.annualIncome" type="number"
               placeholder="年收入（万元）"></ion-input>
    <span item-right>万元</span>
  </ion-item>

  <!--现月收入 monthIncome-->
  <ion-item [hidden]="!step3Set.monthIncome.isShow">
    <ion-label item-left hidden>
      现月收入
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.monthIncome.isRequire" class="require-star">*</span>
      <div class="basics-data-monthlyIncome"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.monthIncome" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="现月收入">
      <ion-option *ngFor="let type of monthIncome" [value]="type.value"
                  [selected]="type.value === personData.monthIncome">{{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--请选择行业 industry-->
  <ion-item [hidden]="!step3Set.industry.isShow">
    <ion-label item-left hidden>
      请选择行业
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.industry.isRequire" class="require-star">*</span>
      <div class="basics-data-industry"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.industry" class="right-arrow" name="purpose" okText="确定" cancelText="取消"
                placeholder="请选择行业">
      <ion-option *ngFor="let type of industry" [value]="type.value" [selected]="type.value === personData.industry">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>

  <!--营业执照名称 businessLicenseName-->
  <ion-item [hidden]="!step3Set.businessLicenseName.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.businessLicenseName.isRequire" class="require-star">*</span>
      <div class="basics-data-businessLicense"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.businessLicenseName" type="text"
               placeholder="营业执照名称"></ion-input>
  </ion-item>

  <!--经营地址 manageAddress-->
  <ion-item [hidden]="!step3Set.manageAddress.isShow">
    <ion-label class="label-margin" style="flex: none;">
      <span [hidden]="!step3Set.manageAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-manageAddress"></div>
    </ion-label>
    <city-picker item-content
                 [cancelText]="'取消'"
                 [doneText]="'确定'"
                 [separator]="' - '"
                 [citiesData]="cityData"
                 [(ngModel)]="manageAddress"
                 (ionChange)="manageAddressChange($event)" class="info-select right-arrow" style="color: #555555;">
    </city-picker>
  </ion-item>

  <!--经营详细地址 manageAddress-->
  <ion-item [hidden]="!step3Set.manageAddress.isShow">
    <ion-label class="label-margin">
      <span [hidden]="!step3Set.manageAddress.isRequire" class="require-star">*</span>
      <div class="basics-data-detail-address"></div>
    </ion-label>
    <ion-input [(ngModel)]="personData.manageLoc" type="text"
               placeholder="营业执照名称"></ion-input>
  </ion-item>

  <!--请选择经营背景类型 businessBackgroundType-->
  <ion-item [hidden]="!step3Set.businessBackgroundType.isShow">
    <ion-label item-left hidden>
      请选择经营背景类型
    </ion-label>
    <ion-label class="personPer-payWay label-margin">
      <span [hidden]="!step3Set.businessBackgroundType.isRequire" class="require-star">*</span>
      <div class="basics-data-business-type"></div>
    </ion-label>
    <ion-select [(ngModel)]="personData.businessBackgroundType" class="right-arrow" name="purpose" okText="确定"
                cancelText="取消"
                placeholder="请选择经营背景类型">
      <ion-option *ngFor="let type of businessBackgroundType" [value]="type.value"
                  [selected]="type.value === personData.businessBackgroundType">
        {{type.text}}
      </ion-option>
    </ion-select>
  </ion-item>


  <!--营业执照照片 businessLicense-->
  <div class="img-box" [hidden]="!step3Set.businessLicense.isShow">
    <img-view *ngFor="let type of personData.businessLicense;" [imgData]="type"
              [isRequire]="step3Set.businessLicense.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('businessLicense','营业执照照片')">再加一张</span>
  </div>

  <!--淘宝/天猫贷款截图 loanSnapshop-->
  <div class="img-box" [hidden]="!step3Set.loanSnapshop.isShow">
    <img-view *ngFor="let type of personData.loanSnapshop;" [imgData]="type"
              [isRequire]="step3Set.loanSnapshop.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('loanSnapshop','淘宝/天猫贷款截图')">再加一张</span>
  </div>

  <!--店铺注册截图 registerSnapshop-->
  <div class="img-box" [hidden]="!step3Set.registerSnapshop.isShow">
    <img-view *ngFor="let type of personData.registerSnapshop;" [imgData]="type"
              [isRequire]="step3Set.registerSnapshop.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('registerSnapshop','店铺注册截图')">再加一张</span>
  </div>


  <!--股东身份证 sharesIdentityPic-->
  <div [hidden]="!step3Set.sharesIdentityPic.isShow">
    <ion-item>
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.sharesIdentityPic.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="股东身份证" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true" [hidden]="!step3Set.sharesIdentityPic.isShow" [imgData]="personData.sharesIdentity"
              [isRequire]="step3Set.sharesIdentityPic.isRequire"></img-view>
    <img-view [headerHide]="true" [hidden]="!step3Set.sharesIdentityPic.isShow"
              [imgData]="personData.sharesIdentityBack"
              [isRequire]="step3Set.sharesIdentityPic.isRequire"></img-view>
  </div>

  <!--股权证明 sharesCertificate-->
  <div class="img-box" [hidden]="!step3Set.sharesCertificate.isShow">
    <img-view *ngFor="let type of personData.sharesCertificate;" [imgData]="type"
              [isRequire]="step3Set.sharesCertificate.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('sharesCertificate','股权证明')">再加一张</span>
  </div>

  <!--授权代理合同 agentContractConsignation-->
  <div class="img-box" [hidden]="!step3Set.agentContractConsignation.isShow">
    <img-view *ngFor="let type of personData.agentContractConsignation;" [imgData]="type"
              [isRequire]="step3Set.agentContractConsignation.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('agentContractConsignation','授权代理合同')">再加一张</span>
  </div>

  <!--税务登记证 taxRegistCertificate-->
  <div class="img-box" [hidden]="!step3Set.taxRegistCertificate.isShow">
    <img-view *ngFor="let type of personData.taxRegistCertificate;" [imgData]="type"
              [isRequire]="step3Set.taxRegistCertificate.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('taxRegistCertificate','税务登记证')">再加一张</span>
  </div>

  <!--机构代码证 orgCodeCertificate-->
  <div class="img-box" [hidden]="!step3Set.orgCodeCertificate.isShow">
    <img-view *ngFor="let type of personData.orgCodeCertificate;" [imgData]="type"
              [isRequire]="step3Set.orgCodeCertificate.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('orgCodeCertificate','机构代码证')">再加一张</span>
  </div>

  <!--验资报告 capitalVerificationReport-->
  <div class="img-box" [hidden]="!step3Set.capitalVerificationReport.isShow">
    <img-view *ngFor="let type of personData.capitalVerificationReport;" [imgData]="type"
              [isRequire]="step3Set.capitalVerificationReport.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('capitalVerificationReport','验资报告')">再加一张</span>
  </div>

  <!--加盟合同 franchiseContract-->
  <div class="img-box" [hidden]="!step3Set.franchiseContract.isShow">
    <img-view *ngFor="let type of personData.franchiseContract;" [imgData]="type"
              [isRequire]="step3Set.franchiseContract.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('franchiseContract','加盟合同')">再加一张</span>
  </div>

  <!--租赁合同 leaseAgreement-->
  <div class="img-box" [hidden]="!step3Set.leaseAgreement.isShow">
    <img-view *ngFor="let type of personData.leaseAgreement;" [imgData]="type"
              [isRequire]="step3Set.leaseAgreement.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('leaseAgreement','加盟合同')">再加一张</span>
  </div>

  <!--企业征信 orgCredit-->
  <div class="img-box" [hidden]="!step3Set.orgCredit.isShow">
    <img-view *ngFor="let type of personData.orgCredit;" [imgData]="type"
              [isRequire]="step3Set.orgCredit.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('orgCredit','企业征信')">再加一张</span>
  </div>

  <!--法人身份证正反面 juridicalPersonsIdentityPic-->
  <div [hidden]="!step3Set.juridicalPersonsIdentityPic.isShow">
    <ion-item>
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.juridicalPersonsIdentityPic.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="法人身份证正反面" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true" [hidden]="!step3Set.juridicalPersonsIdentityPic.isShow"
              [imgData]="personData.juridicalPersonsIdentity"
              [isRequire]="step3Set.juridicalPersonsIdentityPic.isRequire"></img-view>
    <img-view [headerHide]="true" [hidden]="!step3Set.juridicalPersonsIdentityPic.isShow"
              [imgData]="personData.juridicalPersonsIdentityBack"
              [isRequire]="step3Set.juridicalPersonsIdentityPic.isRequire"></img-view>
  </div>

  <!--三方回款任务合同 threePartyPaymentContract-->
  <div class="img-box" [hidden]="!step3Set.threePartyPaymentContract.isShow">
    <img-view *ngFor="let type of personData.threePartyPaymentContract;" [imgData]="type"
              [isRequire]="step3Set.threePartyPaymentContract.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('threePartyPaymentContract','三方回款任务合同')">再加一张</span>
  </div>

  <!--个人征信 userCredit-->
  <div class="img-box" [hidden]="!step3Set.userCredit.isShow">
    <img-view *ngFor="let type of personData.userCredit;" [imgData]="type"
              [isRequire]="step3Set.userCredit.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('userCredit','个人征信')">再加一张</span>
  </div>

  <!--法人征信 juridicalPersonsCredit-->
  <div class="img-box" [hidden]="!step3Set.juridicalPersonsCredit.isShow">
    <img-view *ngFor="let type of personData.juridicalPersonsCredit;" [imgData]="type"
              [isRequire]="step3Set.juridicalPersonsCredit.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('juridicalPersonsCredit','法人征信')">再加一张</span>
  </div>


  <!--法人配偶身份证正反面 juridicalPersonsSpouseIdentityPic-->
  <div [hidden]="!step3Set.juridicalPersonsSpouseIdentityPic.isShow">
    <ion-item>
      <ion-label class="label-margin">
        <span [hidden]="!step3Set.juridicalPersonsSpouseIdentityPic.isRequire" class="require-star">*</span>
        <div class="basics-data-marriage-danwei"></div>
      </ion-label>
      <ion-input type="text"
                 placeholder="法人配偶身份证正反面" disabled></ion-input>
    </ion-item>
    <img-view [headerHide]="true" [hidden]="!step3Set.juridicalPersonsSpouseIdentityPic.isShow"
              [imgData]="personData.juridicalPersonsSpouseIdentity"
              [isRequire]="step3Set.juridicalPersonsSpouseIdentityPic.isRequire"></img-view>
    <img-view [headerHide]="true" [hidden]="!step3Set.juridicalPersonsSpouseIdentityPic.isShow"
              [imgData]="personData.juridicalPersonsSpouseIdentityBack"
              [isRequire]="step3Set.juridicalPersonsSpouseIdentityPic.isRequire"></img-view>
  </div>

  <!--连续三年回款合同 successivePaymentContract-->
  <div class="img-box" [hidden]="!step3Set.successivePaymentContract.isShow">
    <img-view *ngFor="let type of personData.successivePaymentContract;" [imgData]="type"
              [isRequire]="step3Set.successivePaymentContract.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('successivePaymentContract','连续三年回款合同')">再加一张</span>
  </div>


  <!--其他证明 userOtherMaterial-->
  <div class="img-box" [hidden]="!step3Set.userOtherMaterial.isShow">
    <img-view *ngFor="let type of personData.userOtherMaterial;" [imgData]="type"
              [isRequire]="step3Set.userOtherMaterial.isRequire"></img-view>
    <span tappable ion-text class="basics-add"
          (click)="openUploaderAgain('userOtherMaterial','其他证明')">再加一张</span>
  </div>

</ion-list>
