<ion-header>
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)" [pullMin]="60" [pullMax]="200">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="下拉刷新..."
      refreshingSpinner="bubbles"
      refreshingText="正在刷新..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides autoplay="2000" loop="true" pager="true" class="banner">
    <ion-slide><img src="assets/imgs/myHome/banner/banner1.png" alt=""></ion-slide>
    <ion-slide><img src="assets/imgs/myHome/banner/banner2.png" alt=""></ion-slide>
    <ion-slide><img src="assets/imgs/myHome/banner/banner3.png" alt=""></ion-slide>
  </ion-slides>

  <ion-list *ngIf="data.length > 0" inset>
    <ion-item *ngFor="let item of data" style="background-color: #fff;margin-bottom: 10px;" tappable
              (click)="productDetail(item)">
      <ion-thumbnail item-start>
        <img src="{{item.pngUrl}}">
      </ion-thumbnail>
      <div><h3 style="display: inline-block;">{{item.name}}</h3><img *ngIf="!!item.hasApplying" class="home-apply-img"
                                                                     src="assets/imgs/myHome/applying.png"></div>
      <p>类型：{{item.type | productType}}</p>
      <p>{{item.rate | chargeType}}：<span ion-text color="danger">{{item| productRate}}</span></p>
      <img *ngIf="item.recommendType == 1" item-end style="width:36px;" src="assets/imgs/myHome/hot.png"/>
    </ion-item>
  </ion-list>
</ion-content>
