page-credit-data {
  .item-inner {
    border: none !important;
  }
  .credit-item {
    border: none;
    border-bottom: 1px solid #eee;
  }
  .credit-img{
    width: 30px !important;
    height: 30px !important;
    margin-top: 2px;
  }
}
