<ion-header>
  <ion-navbar>
    <ion-title>
      贷款流程
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--流程头部-->
  <page-loan-step-head (skipToPage)="skipToPage($event)" [loanStep]="loanStep"></page-loan-step-head>

  <!--身份核身-->
  <page-loan-step-one *ngIf="page == 1"></page-loan-step-one>

  <!--个人资料-->
  <page-loan-step-two *ngIf="page == 2" [step2Set]="step2Set" (nextToPage)="nextToPage($$event)"></page-loan-step-two>

  <!--基础资料-->
  <page-loan-step-three *ngIf="page == 3" (nextToPage)="nextToPage($$event)"></page-loan-step-three>

  <!--信贷资料-->
  <page-loan-step-four *ngIf="page == 4" (nextToPage)="nextToPage($$event)"></page-loan-step-four>

  <!--提交申请-->
  <page-loan-step-five *ngIf="page == 5"></page-loan-step-five>

</ion-content>
