// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-title-md {
  text-align: center;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #eeeeee;
  box-shadow: none;
}

.list-md .item-block .item-inner {
  border-bottom: 1px solid #eeeeee;
}

.default-button-size {
  width: 90%;
  margin: 30px auto;
}

.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}
.bg-white{
  background-color: #ffffff !important;
}

.picker-ios .picker-opt {
  font-size: 12px !important;
}

.picker-md .picker-opt {
  font-size: 12px !important;
}

.right-arrow::before {
  content: " ";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-width: 1px 1px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 12px;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clear{
  clear: both;
}

.ion-tab-icon-base {
  width: 32px !important;
  height: 32px !important;
  padding: 4px 4px 2px;
}

.ion-tab-icon-md-base {
  min-width: 0 !important;
  height: 32px;
}

$tabImageName: 'index' 'apply' 'data' 'user';
@for $i from 1 to 5 {
  //for ios
  .ion-ios-tab-#{nth($tabImageName, $i)} {
    @extend .ion-tab-icon-base;
    content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_sel.png");
  }
  .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
    @extend .ion-tab-icon-base;
    content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_nor.png");
  }
  // for android
  .tabs-md .tab-button[aria-selected=true] {
    .ion-md-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-md-base;
      content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_sel.png");
    }
  }
  .tabs-md .tab-button[aria-selected=false] {
    .ion-md-tab-#{nth($tabImageName, $i)} {
      @extend .ion-tab-icon-md-base;
      content: url("../assets/imgs/tabs/tab_#{nth($tabImageName, $i)}_nor.png");
    }
  }
}

.ion-ios-tab-task, .ion-ios-tab-task-outline, .ion-ios-tab-master, .ion-ios-tab-master-outline {
  width: 30px !important;
  height: 32px !important;
}
