<ion-header>
  <ion-navbar>
    <ion-title>
      公积金账户
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!!data.length">
    <ion-label class="cre-data-title">已绑公积金账户</ion-label>
    <ion-item-sliding style="margin: 10px;border-radius: 5px;width: auto;">
      <ion-item *ngFor="let item of data" style="border: none;">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/fund.png">
        </ion-avatar>
        <h3>公积金账户</h3>
        <p>{{item.acct}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list tappable (click)="openUrl()">
    <ion-item-sliding style="margin: 10px;width: auto;">
      <ion-item class="add-item">
        <ion-avatar item-start>
          <img src="assets/imgs/myData/creditData/addicon.png">
        </ion-avatar>
        <h3>添加公积金账户</h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
