page-nearby-bank{
  .nearby-img{
    padding-left: 24px;
    background: url("../assets/imgs/myHome/log.png") no-repeat left center;
    background-size: 20px;
    height: 24px;
    line-height: 24px;
  }
}
