<div style="background-color: #fff;height: 60px;">
  <div class="step-box">

    <div class="step-process">
      <div class="step-one"></div>
      <p class="font12 step-text">身份核实</p>
    </div>
    <div class="step-line"></div>

    <div class="step-process">
      <div class="step-two"></div>
      <p class="font12 step-text">个人资料</p>
    </div>
    <div class="step-line"></div>

    <div class="step-process">
      <div class="step-three"></div>
      <p class="font12 step-text">基础资料</p>
    </div>
    <div class="step-line"></div>

    <div class="step-process">
      <div class="step-four"></div>
      <p class="font12 step-text">信贷资料</p>
    </div>
    <div class="step-line"></div>

    <div class="step-process">
      <div class="step-five"></div>
      <p class="font12 step-text">提交申请</p>
    </div>
  </div>
</div>

