page-loan-step-head {
  .step-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  .step-process {
    width: 16%;
    margin: 0 auto;
    text-align: center;
  }

  .step-line {
    width: 5%;
    height: 1px;
    background-color: #8e9093;
    margin-top: 16px;
  }

  .step-line-complete {
    background-color: color($colors, primary);
  }

  .step-one {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepone_applyIcon_normal.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-one-complete {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepone_applyIcon_complete.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-two {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/steptwo_applyIcon_normal.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-two-complete {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/steptwo_applyIcon_complete.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-three {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepthree_applyIcon_normal.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-three-complete {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepthree_applyIcon_complete.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-four {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepfour_applyIcon_normal.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-four-complete {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepfour_applyIcon_complete.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-five {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepfive_applyIcon_normal.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-five-complete {
    width: 26px;
    height: 30px;
    background: url("../assets/imgs/myHome/step/stepfive_applyIcon_complete.png") no-repeat center center;
    background-size: contain;
    margin: 0 auto;
  }

  .step-text {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #8e9093;
  }

  .step-text-complete {
    color: color($colors, primary);
  }
}
