<ion-header>
  <ion-navbar>
    <ion-title>
      审批记录
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!!data">
    <ion-item  style="padding-left: 10px;border: none;">
      <ion-avatar item-start style="margin-right: 10px;">
        <img src="assets/imgs/myLoan/fdlog.png">
      </ion-avatar>
      <h3>银行：{{data.partyOrgDto.orgName}}</h3>
      <p>产品：{{data.productName}}</p>
      <p>{{data.applyAmount | loanAmount :data.approvedAmount}}万元</p>
      <button *ngIf="data.managerMobile && data.managerName" item-end ion-button
              (click)="call($event,data.managerMobile)" style="height: 2.8rem;margin: 0;">
        <img src="assets/imgs/myLoan/apply_phone.png" style="width: 20px;">
        {{data.managerName}}
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!!data" style="margin: 0;position: relative;">
    <ion-item *ngFor="let item of data.loanAuditLogList,let i = index"
              [ngStyle]="{'background-color':i % 2 != 0 ? '#f3f3f4' : '#edeeef' }"
              style="height: 120px;padding-left: 40px;position: relative;">
      <div *ngIf="!item.showCM">
        <h3>{{item.sufAuditStatus | applyStatus}}</h3>
        <p>{{item.auditIdea}}</p>
        <p>{{item.auditTime | date: 'yyyy-MM-dd HH:mm'}}</p>
      </div>
      <div [hidden]="!item.showCM">
        <ion-avatar class="fl">
          <img src="{{item.cManagerPngUrl}}" style="border-radius: 50%;width: 70px;height: 70px;">
        </ion-avatar>
        <div class="fl" style="padding-left: 10px;">
          <h3 [style.color]="i == 0 ?'#11cd6e' :'#3c3b3b'">分配客户经理</h3>
          <p>{{item.cManagerName}}</p>
          <p>{{item.cManagerMobile}}</p>
          <p>{{item.auditTime | date: 'yyyy-MM-dd HH:mm'}}</p>
        </div>
      </div>
      <div class="clear"></div>
      <div *ngIf="i ==0" class="approve-high"></div>
      <div *ngIf="i !=0" class="approve-normal"></div>
    </ion-item>
    <div *ngIf="data"
         style="position: absolute;width: 1px;background-color: #c1c1c1;top: 67px;left: 17px;z-index: 99;"
         [ngStyle]="{'height':120 * (data.loanAuditLogList.length-1) +'px' }"></div>
  </ion-list>
</ion-content>
